<h3><%= current_user.email %> <span>さんのマイページ</span></h3>
<div class="media">
  <div class="media-left">
    <!-- <a href="#"></a> -->
  </div>
  <div class="media-body">
  <% @styles.each do |like| %>
    <img class="media-object" src="http://www.tarl.jp/wp-content/files_mf/16.jpeg" alt="">
    <h4 class="media-heading"><%= @designer %> / <%= @shop.name %></h4>
    <p>designerSNSlink,shopHPlink</p>
  <% end %>
  </div>
</div>

