<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="http://dqaeric34olch.cloudfront.net/lists/216780/12751069_966089923446293_46847946_n.jpg/thumb?1456642936" alt="">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">髪が伸びたらこうしたいっ♪憧れのロングヘア18連発</h4>
    <p>2016春の最旬トレンドヘアスタイルをひとまとめ。18のおしゃれヘアスタイルをインスタグラムから紹介します！</br>（近年インスタグラムを利用した個人でのブランディングが主流になり特にハッシュタグ[＃サロンモデル]でのアップロード件数については毎日かなりの数が掲載され電子ヘアカタログのような状況になっています。ユーザーはそこからその美容師のところへ行ったり、直接来店に繋がらないにしてもカウンセリングの際、担当とイメージを共有するツールの一つとして使われている傾向があります。</p>
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="http://dqaeric34olch.cloudfront.net/lists/218179/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88_2016-03-03_18.30.07.png/thumb?1456997421" alt="">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">編み込みは苦手です。簡単ハープアップヘアアレンジで不器用さんでも今年顔に♡</h4>
    <p>編み込みやねじるといった細かいアレンジは苦手。そんな不器用さんに送るハーフアップアレンジ。普段〜パーティーシーンまで使える気合いの入りすぎないラフで可愛いスタイルをご紹介します！</br>(従来では写真による掲載でわかりにくかったヘアアレンジなどもHowTo動画コンテンツなどを充実させる事でアクセス数ならびに閲覧数の増加へつなげます。)</p>
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="http://office-mighty.com/image/profile11.png" alt="">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">連載企画第8弾!菊本氏による40代からのアンチエイジング</h4>
    <p>年を重ねる事をネガティブな事としない！年を重ねるからこそ出せる良い物がある！無理な若作りをせず綺麗になれるヘアスタイル</br>娘と母親の距離が近い今、ふとしたきっかけで30〜40代の美容に対する意識は変わってきます。特に親子で出かける際に娘が可愛くしていれば母親も一緒に綺麗にいたいと思うもの。子供がある程度離れたからこそ自分に時間をかけられる世代でもあり、この世代は特に美容市場としてもボリュームゾーンです。綺麗になるきっかけは娘からの影響！？</p>
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://hagelabo.jp/uploads/picture/image/284/thumbnail_imasia_14750835_L.jpg" alt="">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">薄毛の男性にも似合う髪型はある！隠すよりも出す！？イケてる大人のヘアスタイル</h4>
    <p>少ない毛量やペタッとしやすい髪質でも髪型とスタイリングでイケてるオヤジスタイルへ！悩める男を救う厳選メンズヘアスタイル！</br>もちろん男性向けのNewsやコラムも行っていきます。直接的に閲覧者へアプローチするのはもちろんの事、他人に紹介したくなるような切り込んだ記事なども掲載していきたいと思います。</p>
  </div>
</div>
