<!-- top image&text -->
<figure class="relative">
  <img src="https://d1uzk9o9cg136f.cloudfront.net/f/16781160/rc/2015/07/16/9164b300d01b2fcf244fa1fd62ab5ad255ba3fe6.png" alt="SCRSP" class="img-rounded">

  <figcaption class="absolute"><h1>StyleBook / Prototype</h1>
    <p>/stylebook/prototype/localhost:300/</p></figcaption>
</<figure>
<!-- top image&text -->